<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <title>Template2</title>
    <style>
        * {
            border: 0;
            font-family: a, serif;
            margin: 0;
            padding: 0;
        }

        main {
            padding: 80px 180px;
        }

        .imgs {
            display: flex;
            justify-content: center;
            position: relative;
        }

        img {
            width: 100%;
        }

        .img-type1 {
            max-height: 363px !important;
        }

        .img-type5 {
            height: 271px;
        }

        button,
        a {
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 13px;
            height: 40px;
            width: 90px;
        }

        a {
            padding: 11px 19px;
        }

        .btn-save {
            background: rgb(16, 143, 73);
        }

        .btn-cancel {
            background: rgb(220, 61, 61);
        }

        .btn-download {
            background: rgb(46, 101, 221);
            color: white;
        }

        .btn-execute {
            background: rgb(7, 88, 97);
            color: white;
        }

        .box-5 {
            height: 393px;
        }

        .box-5 > div:first-child,
        .box-6 > div:first-child {
            display: flex;
            flex-direction: column;
            row-gap: 30px
        }

        .box-3 div:nth-child(3),
        .box-6 > div:nth-child(2) {
            border-left: 1px solid;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        span {
            color: #728095;
            font-family: 'Archivo/Body/Big Paragraph';
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        h2 {
            font-family: Archivo, serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 80px;
        }

        .edit-mode .border-input-style {
            border: 1px solid lightgray;
            border-radius: 5px;
        }

        .gap-80-px {
            column-gap: 80px;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }

        .min-h-100-px {
            min-height: 100px;
        }

        .min-h-50-px {
            min-height: 50px;
        }

        .modal input,
        .modal textarea {
            width: 100%;
        }

        .execute-mode .border-input-style {
            border: none;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card-img-top {
            border-radius: 5px 5px 0 0;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .card-text {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
<main class="edit-mode">
    <div class="imgs mb-5 box-1">
        <img alt="" class="img-type1" id="img-1" onclick="setModalData(this)"
             src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png"/>
    </div>
    <div class="imgs mb-5 box-2">
        <div id="actionGroup01">
            <button class="btn btn-light btn-outline-dark" id="btn-img-02" onclick="setModalData(this)" type="button">
                Image
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-carl-02" onclick="setModalData(this)" type="button">
                Carousel
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-card-deck-02" onclick="setModalData(this)"
                    type="button">
                Card Deck
            </button>
        </div>
    </div>
    <div class="imgs mb-5 box-2">
        <div id="actionGroup02">
            <button class="btn btn-light btn-outline-dark" id="btn-img-03" onclick="setModalData(this)" type="button">
                Image
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-carl-03" onclick="setModalData(this)" type="button">
                Carousel
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-card-deck-03" onclick="setModalData(this)"
                    type="button">
                Card Deck
            </button>
        </div>
    </div>
    <div class="imgs mb-5 box-2">
        <div id="actionGroup03">
            <button class="btn btn-light btn-outline-dark" id="btn-img-01" onclick="setModalData(this)" type="button">
                Image
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-carl-01" onclick="setModalData(this)" type="button">
                Carousel
            </button>
            <button class="btn btn-light btn-outline-dark" id="btn-card-deck-01" onclick="setModalData(this)"
                    type="button">
                Card Deck
            </button>
        </div>
    </div>
    <div class="box-5 mb-5 d-flex gap-80-px">
        <div class="w-50">
            <div class="h-100">
                <div class="h-100 border-input-style">
                    <span class="display-1" id="text1" onclick="setModalData(this)">lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
        <div class="imgs w-50">
            <img alt="" class="img-type3" id="img-4" onclick="setModalData(this)"
                 src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png"/>
        </div>
    </div>
    <div class="imgs mb-3">
        <div class="card-deck">
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5 h100 w-100"
                     id="img-5"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">

                <div class="card-body">
                    <h5 class="card-title" id="text2" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" id="text3" onclick="setModalData(this)">This is a wider card with
                        supporting text below as a natural lead-in to additional content. This content is a little bit
                        longer.</p>
                </div>
            </div>
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5" id="img-6"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">
                <div class="card-body">
                    <h5 class="card-title" id="text4" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" id="text5" onclick="setModalData(this)">This card has supporting text below as
                        a natural lead-in to additional
                        content.</p>
                </div>
            </div>
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5" id="img-7"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">
                <div class="card-body">
                    <h5 class="card-title" id="text6" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" id="text7" onclick="setModalData(this)">This is a wider card with supporting
                        text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="imgs mb-3">
        <div class="card-deck">
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">
                <div class="card-body">
                    <h5 class="card-title" id="text8" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" id="text9" onclick="setModalData(this)">This is a wider card with
                        supporting text below as a natural lead-in to additional content. This content is a little bit
                        longer.</p>
                </div>
            </div>
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5" id="img-9"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">
                <div class="card-body">
                    <h5 class="card-title" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" onclick="setModalData(this)">This card has supporting text below as
                        a natural lead-in to additional
                        content.</p>
                </div>
            </div>
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-type5"
                     onclick="setModalData(this)"
                     src="https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png">
                <div class="card-body">
                    <h5 class="card-title" onclick="setModalData(this)">Card title</h5>
                    <p class="card-text" onclick="setModalData(this)">This is a wider card with supporting
                        text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>


    <!--default-img-->
    <img alt='...' class='card-img-top d-none' id='default-img' onclick='setModalData(this)'
         src='https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png'>

    <!--default-carousel-->
    <div class='carousel slide h-100 w-100 d-none' data-ride='carousel'
         id="default-carousel" onclick='setModalData(this)'>
        <div class='carousel-inner'>
            <div class='carousel-item active' data-interval='500'>
                <img alt='...' class='d-block w-100' src='https://picsum.photos/800/363'>
            </div>
            <div class='carousel-item' data-interval='500'>
                <img alt='...' class='d-block w-100' src='https://picsum.photos/800/363'>
            </div>
            <div class='carousel-item' data-interval='500'>
                <img alt='...' class='d-block w-100' src='https://picsum.photos/800/363'>
            </div>
        </div>
        <button class='carousel-control-prev' data-slide='prev' data-target='#carouselExampleInterval'
                type='button'>
            <span aria-hidden='true' class='carousel-control-prev-icon'></span>
            <span class='sr-only'>Previous</span>
        </button>
        <button class='carousel-control-next' data-slide='next' data-target='#carouselExampleInterval'
                type='button'>
            <span aria-hidden='true' class='carousel-control-next-icon'></span>
            <span class='sr-only'>Next</span>
        </button>
    </div>

    <!--default-card-deck-->
    <div class='card-deck d-none w-100' id="default-card-deck">
        <div class='card d-none' id="default-card">
            <img alt='Card image cap' class='card-img-top img-type5' id='img-8'
                 onclick='setModalData(this)'
                 src='https://www.rcdrilling.com/wp-content/uploads/2013/12/default-placeholder.png'>
            <div class='card-body'>
                <h5 class='card-title' onclick='setModalData(this)'>Card title</h5>
                <p class='card-text' onclick='setModalData(this)'>This is a wider card with
                    supporting text below as a natural lead-in to additional content. This content is a little bit
                    longer.</p>
            </div>
        </div>
    </div>

    <!--Info Modal-->
    <div aria-hidden="true" class="modal fade" id="default-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Properties</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="label-modal"></label>
                    <textarea class="border-input-style min-h-100-px" id="textEntered" name=""
                              style="display: inline-block;"></textarea>
                    <input class="border-input-style min-h-50-px" id="interUrl" style="display: none;" type="text">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" onclick="saveModalData()" type="button">
                        Save
                    </button>
                    <button class="btn btn-light btn-outline-dark" onclick="saveModalData()" type="button">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Image Modal-->
    <div aria-hidden="true" class="modal fade" id="default-image-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Properties</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="image-url">Enter Image URL:</label>
                        <input class="form-control border-input-style min-h-50-px" id="image-url"
                               type="text">
                        <label for="image-height">Enter Image Height:</label>
                        <input class="form-control border-input-style min-h-50-px" id="image-height" type="number"
                               value="250">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" onclick="saveImageModalData()" type="button">
                        Save
                    </button>
                    <button class="btn btn-light btn-outline-dark" type="button">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Card deck Modal-->
    <div aria-hidden="true" class="modal fade" id="default-card-deck-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Properties</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>How many card do you need?</label>
                    <input class="border-input-style" id="card-number" onchange="AddCardOption(this)" type="number"
                           value="0">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" onclick="saveModalData()" type="button">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-100 d-none mt-1" id="default-number-cards">
        <div class="card-header ">
            Card @number
        </div>
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="Image" type="checkbox" value="Image">
                <label class="form-check-label" for="Image">Image</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="Title" type="checkbox" value="Title">
                <label class="form-check-label" for="Title">Title</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="Body" type="checkbox" value="Body">
                <label class="form-check-label" for="Body">Body</label>
            </div>
        </div>
    </div>

    <!-- Confirm Modal-->
    <div aria-hidden="true" class="modal fade" id="default-confirmModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure to execute?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" data-dismiss="modal" type="button">
                        No
                    </button>
                    <button class="btn btn-save" onclick="execute()" type="button">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="actions my-4">
        <a class="btn-download"
           download="page.html"
           href="#" id="btnSaveEditMode"
           onclick="this.href = `data:text/html;charset=UTF-8,${encodeURIComponent(document.documentElement.outerHTML)}`">
            Save Edit Mode
        </a>
        <button class="btn-execute" id="btnExecute" onclick="openConfirmModal()">
            execute
        </button>
    </div>

</main>
</body>
<script>
    let referenceId = '';
    let formType = 'text';
    let parent;
    let modal;

    function setModalData(element) {
        let interUrl = $(`#interUrl`);
        let textEntered = $('#textEntered');

        switch (element.tagName.toLowerCase()) {
            case "img":
                formType = "img";
                break;
            case "button":
                formType = element.textContent.trim().toLowerCase();
                break;
            default:
                formType = "text";
        }

        referenceId = element.id;
        interUrl.val('');
        textEntered.val('');

        switch (formType.toLowerCase()) {
            case "img":
            case "image":
                modal = $('#default-image-modal');
                break;
            case "text":
                modal = $('#default-modal');
                interUrl.css("display", "none");
                textEntered.css("display", "inline-block");
                document.getElementById('label-modal').innerText = 'Please enter your text:';
                break;
            case 'card deck':
                modal = $('#default-card-deck-modal');
                break;
            default:
                modal = $('#default-modal');
        }
        modal.modal('show');
    }

    function addCarouselByButton(defaultCarousel, referenceIdElement) {
        let newCarousel = defaultCarousel.clone();
        newCarousel.attr("id", "carousel-" + $(".carousel").length++);
        newCarousel.removeClass('d-none');
        parent = referenceIdElement.parent().parent();
        parent.html(newCarousel);
        referenceIdElement.parent().remove();
    }

    function addCardByButton(defaultCardDeck, referenceIdElement, defaultCard) {
        let newCardDeck = defaultCardDeck.clone();
        newCardDeck.attr("id", "card-deck-" + $(".card-deck").length++);
        newCardDeck.removeClass('d-none');
        let parent = referenceIdElement.parent().parent();

        let cardNumbers = $('[id^="card-number-"]');
        for (let i = 0; i < cardNumbers.length; i++) {
            let newCard = defaultCard.clone();
            newCard.removeClass('d-none');
            newCard.attr("id", "card-" + $(".card-").length++);

            let titleChecked = true;
            let bodyChecked = true;
            $(cardNumbers[i]).find('input[type="checkbox"]').each(function() {
                if ($(this).val() === "Image" && !$(this).prop('checked')) {
                    newCard.find(".card-img-top").remove();
                }

                if ($(this).val() === "Title") {
                    if ($(this).prop('checked')) {
                        titleChecked = true;
                    } else {
                        titleChecked = false;
                        newCard.find(".card-title").remove();
                    }
                }

                if ($(this).val() === "Body") {
                    if ($(this).prop('checked')) {
                        bodyChecked = true;
                    } else {
                        bodyChecked = false;
                        newCard.find(".card-text").remove();
                    }
                }
                if (!titleChecked && !bodyChecked) {
                    newCard.find(".card-body").remove();
                    titleChecked = false;
                    bodyChecked = false;
                }
            });



            newCardDeck.append(newCard);
        }

        parent.html(newCardDeck);
        referenceIdElement.parent().remove();
        modal.modal('hide');
    }

    function saveImageModalData() {
        let referenceElement = $("#" + referenceId);
        let imageUrl = $("#image-url").val();
        let imageHigh = $("#image-height").val();
        let defaultImage = $("#default-img");
        if (referenceId.startsWith("button")) {
            let newImage = defaultImage.clone();
            newImage.attr("id", 'img-' + $("*[class^='img-']").length++);
            newImage.attr("src", imageUrl);
            newImage.attr("height", imageHigh + "px");
            newImage.removeClass('d-none');
            newImage.removeClass(function (index, className) {
                return (className.match(/\bimg-\S+/g) || []).join(' ');
            });
            parent = referenceElement.parent().parent();
            parent.html(newImage);
            if (referenceElement.parent().id.startsWith("actionGroup"))
                referenceElement.parent().remove();
        }
        //todo: temp
        else {
            // referenceElement.attr("id", 'img-' + $("*[class^='img-']").length++);
            referenceElement.attr("src", imageUrl);
            referenceElement.attr("height", imageHigh + "px");
            referenceElement.removeClass('d-none');
            referenceElement.removeClass(function (index, className) {
                return (className.match(/\bimg-\S+/g) || []).join(' ');
            });
        }
        modal.modal('hide');
    }

    function saveModalData() {
        let textEntered = $('#textEntered');
        let modal = $("#default-modal");
        let defaultCarousel = $("#default-carousel");
        let defaultCardDeck = $("#default-card-deck");
        let defaultCard = $("#default-card");
        let referenceIdElement = $(`#${referenceId}`);
        switch (formType.toLowerCase()) {
            case "img":
                referenceIdElement.attr("src", $('#interUrl').val());
                break
            case "image":
                break;
            case "text":
                referenceIdElement.text(textEntered.val());
                break;
            case "carousel":
                addCarouselByButton(defaultCarousel, referenceIdElement);
                break;
            case "card deck":
                addCardByButton(defaultCardDeck, referenceIdElement, defaultCard);
                break;
        }
        resetAllId();
        modal.modal('hide');
    }

    function execute() {
        $('.remove-img, #btnSaveEditMode , #modal,#btnExecute , .actions').remove();
        $('main').removeClass('edit-mode');
        $("#confirmModal").modal('hide');
        $("#btnDownload").css("display", "inline-block");
    }

    function openConfirmModal() {
        $("#confirmModal").modal('show');
    }

    window.onload = function () {
        resetAllId();
    }

    function resetAllId() {
        const count = {};
        $("body").find("*").not("div").each(function () {
            const $this = $(this);
            if ($this.parents("[id^='default-']").length > 0) {
                return; // skip elements that are children of elements with IDs starting with "default-"
            }
            if ($this.attr("id") && $this.attr("id").startsWith("default-")) {
                return; // skip elements with IDs starting with "default-"
            }
            const tagName = $this.prop("tagName").toLowerCase();
            if (!(tagName in count)) {
                count[tagName] = 0;
            }
            count[tagName]++;
            const newId = tagName + '-' + count[tagName];
            $this.attr("id", newId);
        });

    }

    function addInput() {
        const inputDiv = document.createElement('div');
        const inputField = document.createElement('input');
        inputField.setAttribute('type', 'text');
        inputDiv.appendChild(inputField);
        document.body.appendChild(inputDiv);
    }


    function AddCardOption(element) {
        $("#cards-properties").remove();
        // Get the new number of cards from the input field
        let newNumCards = document.getElementById("card-number").value;

        // Update the numCards variable and add/remove card elements as needed
        const cardDiv = document.createElement("div");
        cardDiv.id = "cards-properties";
        if (newNumCards) {
            for (let i = 1; i <= newNumCards; i++) {
                let cardNumber = $("#default-number-cards").clone();
                cardNumber.attr("id", "card-number-" + i);
                cardNumber.removeClass('d-none');
                $(cardDiv).append(cardNumber.prop('outerHTML').replaceAll("@number", i));
            }
        }
        $(element).parent().append(cardDiv);
    }

</script>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>